/* ============================================= */
/*              Buttons                          */
/* ============================================= */

  .btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include mq($tablet) {
      padding: 10px 30px;
    }
    transition: background-color 0.15s ease-in;
  }
  
  .default {
    background-color: $color-default;
    &:hover {
      background-color: lighten($color-default, 15%);
    }
  }
  
  .error {
    background-color: $color-error;
    &:hover {
      background-color: lighten($color-error, 15%);
    }
  }
  
  .info {
    background-color: $color-info;
    &:hover {
      background-color: lighten($color-info, 15%);
    }
  }
  
  .success {
    background-color: $color-success;
    &:hover {
      background-color: lighten($color-success, 15%);
    }
  }
  
  .warning {
    background-color: $color-warning;
    &:hover {
      background-color: lighten($color-warning, 15%);
    }
  }

